<div class="page-header">
<h1> All of the Ramblings</h1>
</div>
<%= link_to "New Ramble", new_status_path, class: "btn btn-info" %>

<% @statuses.each do |status| %>
<div class="status">
  <strong><%= status.name %> :</strong>
  <p><%= status.content %></p>
  <div class="meta">
    <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
    <span class="admin">
      <%= link_to "Edit", edit_status_path(status), class: "btn btn-default btn-xs" %> |
      <%= link_to "Delete", status, method: :delete, data: { confirm: "Regret it already! Wanna delete it?"}, class: "btn btn-danger btn-xs" %>
  </div>
</div>
<% end %>