	<div class="navbar navbar-inverse navbar-fixed-top">
  		<div class="navbar-inner">
  			<div class="container">
  				<%= link_to "NantSocial", root_path, class: "navbar-brand" %>
  				<ul class="nav navbar-nav">
  					<li>
  						<%= link_to "Ramblings", statuses_path %>
  					</li>
            <% if user_signed_in? %>
            <li><%= link_to "Account Settings", edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
  			</div>
  		</div>
	</div>